doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- link(rel="icon" type="image/png" href="/img/landing/home/logolondri.png")
    title= title
    link(rel='shortcut icon' href='')
    link(rel='apple-touch-icon' href='')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav
      .nav-wrapper
        a.brand-logo(href='/news') 
          img(src="/img/logo_leyenda.png")
        a.waves-effect.waves-light.modal-trigger.profile(href='#modal1')
          i.material-icons person
        a.sidenav-trigger(href='#', data-target='mobile-demo')
          i.material-icons menu
        
        
    #mobile-demo.sidenav
      a.brand-logo(href='/news') 
        img(src="/img/logo_leyenda.png")
      
      ul(style="    padding-top: 12px;")
        li(class=newsidenav)
          a(href='/news' ) News
        li(class=favsidenar)
          a(href='/favs' ) Favs
        li
          a(href="/logout") logout


    .row(style="padding-top:100px;")
      
      block content
    #modal1.modal
      .modal-content.perfil.center
        h4 Perfil
        br
        hr
        p Name : 
          span #{nameUser}
        p Phone : 
          span #{phoneUser}
        p Email : 
          span #{email}
      .modal-footer
        

    script(src='https://code.jquery.com/jquery-3.2.1.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js')
    script(src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js")
    script(src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js")
    script.
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.modal').modal();
      });
      var config = {
        apiKey: "AIzaSyBiTEsu89T-zfaOSsOiyOZjgE-7hOvzFDA",
        authDomain: "news-examination.firebaseapp.com",
        databaseURL: "https://news-examination.firebaseio.com",
        projectId: "news-examination",
        storageBucket: "news-examination.appspot.com",
        messagingSenderId: "211079417360"
      };
      firebase.initializeApp(config);
    block script
          
  